[Unit]
Description=Run one-solution.service periodically every hour

[Timer]
OnCalendar=*-*-* *:00:*
Unit=one-solution.service

[Install]
WantedBy=multi-user.target
